@font-face {
  font-family: 'Balsamiq-Sans';
  font-style: normal;
  font-weight: 700;
  src: url('~assets/fonts/BalsamiqSans-Bold.ttf'); /* IE9 Compat Modes */
  src: local(''),
    /* Modern Browsers */ url('~assets/fonts/BalsamiqSans-Bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Balsamiq-Sans';
  font-style: Italic;
  font-weight: 700;
  src: url('~assets/fonts/BalsamiqSans-BoldItalic.ttf'); /* IE9 Compat Modes */
  src: local(''),
    /* Modern Browsers */ url('~assets/fonts/BalsamiqSans-BoldItalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Balsamiq-Sans';
  font-style: normal;
  font-weight: 500;
  src: url('~assets/fonts/BalsamiqSans-Regular.ttf'); /* IE9 Compat Modes */
  src: local(''),
    /* Modern Browsers */ url('~assets/fonts/BalsamiqSans-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Balsamiq-Sans';
  font-style: Italic;
  font-weight: 500;
  src: url('~assets/fonts/BalsamiqSans-Italic.ttf'); /* IE9 Compat Modes */
  src: local(''),
    /* Modern Browsers */ url('~assets/fonts/BalsamiqSans-Italic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Balsamiq-Sans';
  font-style: Italic;
  font-weight: 500;
  src: url('~assets/fonts/BalsamiqSans-Italic.ttf'); /* IE9 Compat Modes */
  src: local(''),
    /* Modern Browsers */ url('~assets/fonts/BalsamiqSans-Italic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('~assets/fonts/Poppins-Regular.ttf'); /* IE9 Compat Modes */
  src: local(''),
    /* Modern Browsers */ url('~assets/fonts/Poppins-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('~assets/fonts/Poppins-SemiBold.ttf'); /* IE9 Compat Modes */
  src: local(''),
    /* Modern Browsers */ url('~assets/fonts/Poppins-SemiBold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('~assets/fonts/Poppins-Bold.ttf'); /* IE9 Compat Modes */
  src: local(''),
    /* Modern Browsers */ url('~assets/fonts/Poppins-Bold.ttf')
      format('truetype');
}

/* ======================== base ======================== */
body {
  height: 100%;
  @apply font-body;
}

#__nuxt,
#__layout {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-title;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

html {
  @apply text-base text-body;
  height: 100%;
}

body {
  @apply bg-background;
}
/* ============================ buttons ==================*/

.btn {
  @apply text-base  rounded-full text-title h-16 font-medium transition duration-300 ease-in-out w-full lg:w-96 my-2;
}

.btn.primary {
  @apply bg-primary text-white;
}

.btn.primary.action {
  filter: drop-shadow(0px 5px 0px #186594);
}

.btn.primary:hover {
  @apply bg-primaryDark text-offwhite;
}

.btn:disabled {
  @apply pointer-events-none bg-opacity-50 opacity-60;
}

.btn.loading {
  @apply flex flex-row items-center justify-center pointer-events-none;
}

.btn.outline {
  @apply border-2 border-primary;
}

.btn.outline:hover {
  @apply border-2 border-primaryDark;
}

/* =============================Inputs==================================== */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input {
  @apply my-4 block w-full;
}
.input > div {
  @apply bg-inputBg rounded-lg  w-full flex flex-row items-center justify-center pr-2;
}

.input > div > svg {
  @apply h-6 w-6 text-label stroke-current;
}

.input.disabled > div {
  @apply pointer-events-none bg-opacity-60 opacity-60;
}

label {
  @apply block text-sm text-label font-medium mb-1;
}

input {
  @apply focus:outline-none w-full py-4 px-6 bg-inputBg rounded-lg appearance-none;
  caret-color: #186594;
}

input::placeholder {
  @apply text-placeholder;
}

/* input:focus {
  @apply bg-offwhite;
} */

input:disabled {
  @apply pointer-events-none bg-opacity-60 opacity-60;
}

.input > small {
  @apply block mt-1;
}

textarea {
  @apply focus:outline-none w-full bg-inputBg rounded-lg py-3 px-6;
  resize: none;
}

/* ============== sub pages */
.subpage {
  @apply flex flex-col;
}
.subpage > header {
  @apply h-20 bg-offwhite flex flex-row items-center justify-between px-4 py-6 sticky top-0 z-20;
}

.subpage > header > p {
  @apply text-lg mx-auto capitalize;
}

.subpage > footer {
  @apply w-full flex flex-col lg:justify-center lg:flex-row-reverse mt-0 fixed lg:static bottom-0 px-4 py-0 bg-background;
}

.subpage > footer > button {
  @apply mx-auto lg:mx-10;
}

.subpage > section {
  @apply px-4 pt-12 pb-32 lg:pb-0  mb-12 max-w-2xl w-full mx-auto;
}

/* =======================================Profile====================================== */

.ageBlock {
  @apply w-20 h-16 rounded-lg text-3xl font-display bg-inputBg flex flex-row items-center justify-center text-primary;
}

.ageSelected {
  @apply text-primaryLight w-20 h-16 rounded-lg text-3xl font-display bg-secondaryLight ring-4 ring-secondaryDark  flex flex-row items-center justify-center;
}

.ageContainer {
  @apply w-full grid grid-cols-3 lg:grid-cols-6 gap-4 justify-items-center;
}

.avatarContainer {
  @apply w-full grid grid-cols-3 gap-4 justify-items-center mt-16;
}

.avatar {
  @apply w-20 h-20 opacity-30;
}

.selectedAvatar {
  @apply w-20 h-20 opacity-100;
}

.lang {
  @apply w-2/3 lg:w-96 rounded-lg text-2xl capitalize mx-auto my-4 py-3 px-4 font-display bg-inputBg flex flex-row items-center justify-center text-primary;
}

.langSelected {
  @apply w-2/3 lg:w-96 rounded-lg text-2xl capitalize mx-auto my-4 py-3 px-4 font-display bg-secondaryLight ring-4 ring-secondaryDark  flex flex-row items-center justify-center text-primary;
}

/* Checkbox */

.checkboxContainer {
  @apply h-8 relative cursor-pointer flex flex-row items-center my-4 lg:text-center w-96 mx-auto;

  padding-left: 35px;
  margin-bottom: 12px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  @apply bg-inputBg h-8 w-8 absolute top-0 left-0 rounded-full mr-4;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  @apply bg-secondary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 12px;
  top: 6px;

  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  @apply border-secondaryDark h-4 w-2;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
